name: Build Release package

concurrency:
  group: ci-nightly-release-on-${{ github.event_name }}-from-${{ github.ref_name }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - "pull-request/[0-9]+"
      - "cpp-branch-*"
      - "main"

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux
          - linux-aarch64
        target-device:
          - gpu
          - cpu
        upload-enabled:
          - false
    uses:
      ./.github/workflows/gh-build-and-test.yml
    with:
      target-device: ${{ matrix.target-device }}
      platform: ${{ matrix.platform }}
      build-type: release
      upload-enabled: ${{ matrix.upload-enabled }}
      waive-gpu-tests: ${{ github.workflow == 'Build Release package' && matrix.platform == 'linux-aarch64' }}
    secrets: inherit
